
  
  .title {
    font-weight: 100px;
    background-color: #bbbbbb;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .specific{
    color: blue;
    font-style: italic;
    text-transform: uppercase;
    font-weight: 200;
  } 
  
  .firsttable{
    background-color: lightblue;
    border: 2px solid black;
    border-radius: 5px;
  }
  
  .secondtable{
    background-color: darkcyan;
    border: 1px dotted black;
    border-radius: 10px;
  }

  
  th {
    font-family: Garamond;
    color: cornsilk;
    font-weight: 300;
  }

td{
    border: 1px, dotted, blue;
}
